html  {
    background-color: #e7f5f0;
}


.titulo {
    position: absolute;
    display: flex;
    font-size: 2.5vi;
    margin-left: 4vi;
    margin-top: 2.5vi;
    color: #087f5b;
}

.titulo2 {
    position: absolute;
    display: flex;
    font-size: 2.5vi;
    margin-left: 25vi;
    margin-top: 2.5vi;
    color: #087f5b;
}

.titulo3 {
    position: absolute;
    display: flex;
    font-size: 2vi;
    margin-left: 25vi;
    margin-top: 10vi;
    color: #087f5b;
}

.todos {
    position: absolute;
    display: flex;
    cursor: pointer;
    user-select: none;
    font-size: 1.5vi;
    margin-left: 7vi;
    margin-top: 13vi;
    color: #087f5b;
}

.abrigos {
    position: absolute;
    display: flex;
    cursor: pointer;
    user-select: none;
    font-size: 1.5vi;
    margin-left: 7vi;
    margin-top: 17vi;
    color: #087f5b;
}

.camisetas {
    position: absolute;
    display: flex;
    cursor: pointer;
    user-select: none;
    font-size: 1.5vi;
    margin-left: 7vi;
    margin-top: 21vi;
    color: #087f5b;
}

.pantalones {
    position: absolute;
    display: flex;
    cursor: pointer;
    user-select: none;
    font-size: 1.5vi;
    margin-left: 7vi;
    margin-top: 25vi;
    color: #087f5b;
}

.carritos {
    position: absolute;
    display: flex;
    cursor: pointer;
    user-select: none;
    font-size: 1.5vi;
    margin-left: 7vi;
    margin-top: 33vi;
    color: #087f5b;
}

.copy {
    position: absolute;
    display: flex;
    cursor: pointer;
    user-select: none;
    font-size: 1.5vi;
    margin-left: 5.3vi;
    margin-top: 41vi;
    color: #087f5b;
}

.tag {
    position: absolute;
    display: flex;
    cursor: pointer;
    border-radius: 2vi;
    border-style: solid;
    border-width: 0.15vi;
    border-color: #087f5b;
    width: 73vi;
    height: 40vi;
    margin-left: 22vi;
    margin-top: 7vi;
    overflow: scroll;
    overflow-x: hidden;
}
